<div class="container">

  <!-- SEARCH GITHUB REPOSITORIES -->
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mt-5 mb-5">Repository Search</h1>
      <form class="form-inline">
        <mat-form-field class="example-full-width">
          <input matInput type="search" placeholder="Enter keywords" name="repo" [(ngModel)]="repo">
        </mat-form-field>
        <button mat-button color="primary" type="submit" (click)="getRepo()">Search
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="search_repos">
    <div class="mt-3">
      <div *ngFor="let repos of search_repos">
        <div class="card mb-3">
          <!-- card-header -->
          <div class="card-header">
            {{ repos.full_name }}
          </div>
          <!-- card-body -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <ul class="list-group">
                  <li class="list-group-item">
                    <strong>Created by: </strong>{{ repos.owner.login }}
                  </li>
                  <li class="list-group-item">
                    <strong>Last updated at: </strong>{{ repos.updated_at | date:'mediumDate' }}
                  </li>
                  <li class="list-group-item">
                    <a href="{{ repos.owner.html_url }}" target="_blank">User Profile</a>
                  </li>
                  <li class="list-group-item">
                    <a href="{{ repos.html_url }}">Repo Link</a>
                  </li>
                  <li class="list-group-item">
                    <strong>Forks: </strong>{{ repos.forks }}
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- /.card-body -->

        </div><!-- /.card -->
      </div><!--  *ngFor -->
    </div><!-- /.col-sm-12 -->
    <div class="table-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <!-- seqNo Column -->
          <ng-container matColumnDef="seqNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
            <mat-cell *matCellDef="let repo"> {{repo.id}} </mat-cell>
          </ng-container>

          <!-- Stars Column -->
          <ng-container matColumnDef="stars">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Stars </mat-header-cell>
            <mat-cell *matCellDef="let repo"> {{repo.stargazers_count}} </mat-cell>
          </ng-container>

          <!-- License Column -->
          <ng-container matColumnDef="license">
            <mat-header-cell *matHeaderCellDef mat-sort-header> License </mat-header-cell>
            <mat-cell *matCellDef="let repo"> {{repo.license === null ? 'None' : repo.license.name}} </mat-cell>
          </ng-container>

          <!-- Forks Column -->
          <ng-container matColumnDef="forks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Forks </mat-header-cell>
            <mat-cell *matCellDef="let repo" > {{repo.forks}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let repo; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

  </div><!-- *ngIf="search_repos" -->
</div>
