<div class="container">

  <!-- SEARCH GITHUB REPOSITORIES -->
  <div class="row">
    <div class="col-sm-12">
      <h1 class="mt-5 mb-5">Repository Search</h1>
      <form class="form-inline">
        <mat-form-field class="example-full-width">
          <input matInput type="search" placeholder="Enter keywords" name="repo" [(ngModel)]="repo">
        </mat-form-field>
        <button mat-button color="primary" type="submit" (click)="getRepo()">Search
        </button>
      </form>
    </div>
  </div>

  <div *ngIf="this.dataSource">
    <div class="mt-3">
      <div class="table-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let repo"> <a href="{{repo.html_url}} ">{{repo.name}}</a></mat-cell>
          </ng-container>

          <!-- Stars Column -->
          <ng-container matColumnDef="stars">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Stars </mat-header-cell>
            <mat-cell *matCellDef="let repo"> {{repo.stargazers_count}} </mat-cell>
          </ng-container>

          <!-- License Column -->
          <ng-container matColumnDef="license">
            <mat-header-cell *matHeaderCellDef mat-sort-header> License </mat-header-cell>
            <mat-cell *matCellDef="let repo"> {{repo.license === null ? 'None' : repo.license.name}} </mat-cell>
          </ng-container>

          <!-- Forks Column -->
          <ng-container matColumnDef="forks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Forks </mat-header-cell>
            <mat-cell *matCellDef="let repo" > {{repo.forks}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let repo; columns: displayedColumns;">
          </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

  </div><!-- *ngIf="search_repos" -->
</div>

</div><!-- /.col-sm-12 -->
